@model List<PruebaTecnicaWeb.Entidades.VehiculoClass>
@{
    ViewBag.Title = "Vehiculo";
}

<h2>@ViewBag.Title</h2>
<div class="row" style="text-align:right; padding:5px">
    <a href="~/Vehiculo/NuevoVehiculo" class="btn btn-primary">Nuevo</a>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>#</th>
                <th>Placa</th>
                <th>Dueño</th>
                <th>Marca</th>
            </tr>
            @foreach (var pElemento in Model)
            {
                <tr>
                    <td>@pElemento.IdVehiculo</td>
                    <td>@pElemento.Placa</td>
                    <td>@pElemento.Dueno</td>
                    <td>@pElemento.Marca</td>
                    <td>
                        <a class="btn btn-default" href="~/Vehiculo/EditarVehiculo/@pElemento.IdVehiculo">Editar</a>
                        <a class="btn btn-danger" href="~/Vehiculo/EliminarVehiculo/@pElemento.IdVehiculo">Eliminar</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>