@model PruebaTecnicaWeb.Entidades.ServicioClass
@{
    ViewBag.Title = "Editar Servicio";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("EditarServicio", "Servicios", FormMethod.Post))
{
    <div class="col-md-12">
        @Html.HiddenFor(d => d.ID_Servicio)
        <div>
            @Html.LabelFor(d => d.Descripcion)
            @Html.TextBoxFor(d => d.Descripcion, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.Descripcion, null, new { @class = "red" })
        </div>
        <div>
            @Html.LabelFor(d => d.Monto)
            @Html.TextBoxFor(d => d.Monto, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.Monto, null, new { @class = "red" })
        </div>
        <br />
        <div style="text-align:right">
            <input value="Guardar" type="submit" class="btn btn-primary" />
        </div>
    </div>
}

